DS EXP 4

Name: Prachi Mehta

UID: 2018130025

# Analyze statistical data using Python/R programming

Importing necessary python library

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import scipy.stats as stats
import math

Loading Dataset using Pandas

In [ ]:
df = pd.read_csv('/content/sample_data/cust_seg.csv')

In [ ]:
df.head()

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   custid               200 non-null    int64
 1   sex                  200 non-null    int64
 2   AqChannel            200 non-null    int64
 3   region               200 non-null    int64
 4   Marital_status       200 non-null    int64
 5   segment              200 non-null    int64
 6   pre_usage            200 non-null    int64
 7   Post_usage_1month    200 non-null    int64
 8   Latest_mon_usage     200 non-null    float64
 9   post_usage_2ndmonth  200 non-null    float64
dtypes: float64(2), int64(8)
memory usage: 15.8 KB

Handling NA values

In [ ]:
df.isnull().sum()

custid                 0
sex                    0
AqChannel              0
region                 0
Marital_status         0
segment                0
pre_usage              0
Post_usage_1month      0
Latest_mon_usage       0
post_usage_2ndmonth    0
dtype: int64

#Descriptive Statistics

In [ ]:
df.mean()

custid                 100.5000
sex                      0.5450
AqChannel                3.4300
region                   2.0550
Marital_status           1.1600
segment                  2.0250
pre_usage               52.2300
Post_usage_1month       52.7750
Latest_mon_usage        63.1740
post_usage_2ndmonth     58.0525
dtype: float64

In [ ]:
df.count()

custid                 200
sex                    200
AqChannel              200
region                 200
Marital_status         200
segment                200
pre_usage              200
Post_usage_1month      200
Latest_mon_usage       200
post_usage_2ndmonth    200
dtype: int64

In [ ]:
df.median()

custid                 100.5
sex                      1.0
AqChannel                4.0
region                   2.0
Marital_status           1.0
segment                  2.0
pre_usage               50.0
Post_usage_1month       54.0
Latest_mon_usage        62.4
post_usage_2ndmonth     59.4
dtype: float64

In [ ]:
df.mode()

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,1,1.0,4.0,2.0,1.0,2.0,47.0,59.0,68.4,64.9
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
195,196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.sum()

custid                 20100.0
sex                      109.0
AqChannel                686.0
region                   411.0
Marital_status           232.0
segment                  405.0
pre_usage              10446.0
Post_usage_1month      10555.0
Latest_mon_usage       12634.8
post_usage_2ndmonth    11610.5
dtype: float64

#Dispersion Statistics

In [ ]:
df.std()

custid                 57.879185
sex                     0.499220
AqChannel               1.039472
region                  0.724291
Marital_status          0.367526
segment                 0.690477
pre_usage              10.252937
Post_usage_1month       9.478586
Latest_mon_usage       11.242137
post_usage_2ndmonth    10.426445
dtype: float64

In [ ]:
df.var()

custid                 3350.000000
sex                       0.249221
AqChannel                 1.080503
region                    0.524598
Marital_status            0.135075
segment                   0.476759
pre_usage               105.122714
Post_usage_1month        89.843593
Latest_mon_usage        126.385652
post_usage_2ndmonth     108.710747
dtype: float64

In [ ]:
df.skew()

custid                 0.000000
sex                   -0.182102
AqChannel             -1.587534
region                -0.083606
Marital_status         1.868898
segment               -0.032670
pre_usage              0.196313
Post_usage_1month     -0.482039
Latest_mon_usage       0.286565
post_usage_2ndmonth   -0.482039
dtype: float64

In [ ]:
df.quantile()

custid                 100.5
sex                      1.0
AqChannel                4.0
region                   2.0
Marital_status           1.0
segment                  2.0
pre_usage               50.0
Post_usage_1month       54.0
Latest_mon_usage        62.4
post_usage_2ndmonth     59.4
Name: 0.5, dtype: float64

#Describing the Dataset

In [ ]:
df.describe()

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,0.54500,3.430000,2.055000,1.160000,2.025000,52.230000,52.775000,63.174000,58.052500
std,57.879185,0.49922,1.039472,0.724291,0.367526,0.690477,10.252937,9.478586,11.242137,10.426445
min,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,28.000000,31.000000,39.600000,34.100000
25%,50.750000,0.00000,3.000000,2.000000,1.000000,2.000000,44.000000,45.750000,54.000000,50.325000
50%,100.500000,1.00000,4.000000,2.000000,1.000000,2.000000,50.000000,54.000000,62.400000,59.400000
75%,150.250000,1.00000,4.000000,3.000000,1.000000,2.250000,60.000000,60.000000,70.800000,66.000000
max,200.000000,1.00000,4.000000,3.000000,2.000000,3.000000,76.000000,67.000000,90.000000,73.700000

#Hypothesis Testing

**Card usage has been improved from last year usage which was 50**

One sample t-test

H0 (Null hypothesis) Sample_avg = 50

Ha (ALT hypothesis) Sample_avg > 50

If this is P < 0.05 and Sample_avg > 50 satisfied we can reject the NULL hypothesis. else we fail to reject the NULL hypothesis.

The single sample t method tests a null hypothesis that the population mean is equal to a specified value. If this value is zero 

 

The test statistic is calculated as:

![image.png]()


- where x bar is the sample mean, sÂ² is the sample variance, n is the sample size, Âµ is the specified population mean and t is a Student t quantile with n-1 degrees of freedom.

In [ ]:
stats.ttest_1samp(a = df.Latest_mon_usage, popmean = 50) # pop mean is the hypothetical value

Ttest_1sampResult(statistic=16.57233752433133, pvalue=2.4963719280931583e-39)

In [ ]:
df.Latest_mon_usage.mean()

63.17400000000001

Since the p value is very small we reject the NULL hypothesis.

Hence we fail and reject the NULL hypotheiss and accept the ALT hypothesis

**The last campaign was successful in terms of credit card.**

We can compare pre_usage and post_usage of the credit card - Paired sample t-test(dependent sample t-test)

H0 (NULL hypothesis) Pre_avg = post_avg Ha (ALT hypothesis) pre_avg < post_avg

if p < 0.05 and pre_avg < post_avg, we will reject null

In [ ]:
print(df.pre_usage.mean())
print(df.Post_usage_1month.mean())
print(df.post_usage_2ndmonth.mean())

52.23
52.775
58.05250000000003

In [ ]:
stats.ttest_rel(a = df.pre_usage, b = df.Post_usage_1month)

Ttest_relResult(statistic=-0.8673065458794775, pvalue=0.3868186820914985)

Since the pvalue is not less than 0.05 we fail to reject the Null Hypothesis. Hence the campaign was successful

**Is there any differce in credit card spend usage between males and females?**

Comparing two sample averages (both are independent samples)

H0: males_avg = females_avg

Ha: males_avg <> females_avg

if p<0.05 then we reject NULL 

else, we fail to reject the NULL

In [ ]:
Males_spend = df.Post_usage_1month[df.sex == 0]
Females_spend = df.Post_usage_1month[df.sex == 1]

In [ ]:
print(Males_spend.head())
print(Females_spend.head())

0    52
2    33
3    44
4    52
5    52
Name: Post_usage_1month, dtype: int64
1     59
92    62
93    44
94    44
95    62
Name: Post_usage_1month, dtype: int64

In [ ]:
print(Males_spend.mean())
print(Females_spend.mean())

50.120879120879124
54.99082568807339

In [ ]:
print(Males_spend.std())
print(Females_spend.std())

10.305160697259263
8.13371516959346

In [ ]:
stats.ttest_ind(a = Males_spend, b = Females_spend, equal_var = False)
# equal_var Assume samples have equal variance?

Ttest_indResult(statistic=-3.6564080478875276, pvalue=0.00034088493594266187)

Since pvalue is less than 0.05 we reject the NULL hypothesis. Hence, we conclude there is a difference between male spend and female spend

**Is there any difference in credit card spend between segments?**

ANOVA- Ftest

H0 : S1_avg = S2_avg = S3_avg

Ha: One of the segment avg is different from others.

if p < 0.05, then we reject NULL , if p<0.05, there is relationship between segment and spend.

else, we can not reject NULL.

In [ ]:
df.segment.value_counts()

2    105
3     50
1     45
Name: segment, dtype: int64

In [ ]:
s1 = df.Latest_mon_usage[df.segment == 1]
s2 = df.Latest_mon_usage[df.segment == 2]
s3 = df.Latest_mon_usage[df.segment == 3]

# perform ANOVA test
stats.f_oneway(s1, s2, s3)

F_onewayResult(statistic=29.279283801321778, pvalue=7.36401083352674e-12)

Pvalue is less than 0.05. Hence, we can reject the NULL hypothesis which means there is a significant difference between the average of the segments.

**Is there any relationship between region and segment?**

Chi Square test

H0 : There is no relationship

Ha : There is relationship

if p < 0.05 , then we reject NULL,

else, we fail to reject NULL Hypothesis.

In [ ]:
t = pd.crosstab(df.segment, df.region, margins = True)
t
# actual distribution between segment and region

region    1   2   3  All
segment
1        16  20   9   45
2        19  44  42  105
3        12  31   7   50
All      47  95  58  200

In [ ]:
stats.chi2_contingency(observed = t)

(16.60444164948934,
 0.055282939487992365,
 9,
 array([[ 10.575,  21.375,  13.05 ,  45.   ],
        [ 24.675,  49.875,  30.45 , 105.   ],
        [ 11.75 ,  23.75 ,  14.5  ,  50.   ],
        [ 47.   ,  95.   ,  58.   , 200.   ]]))

Based on the p value we can say there is a relationship between region and segment.

**Is there any relationship between card_usage_before and latest_month_usage.**

Correlation

H0 : There is no relationship

Ha : There is relationship

if p < 0.05 , then we reject NULL, There is relationship between latest month spend and pre usage

else, we fail to reject NULL Hypothesis.

In [ ]:
print(np.corrcoef(df.Latest_mon_usage, df.Post_usage_1month))

[[1.         0.61744926]
 [0.61744926 1.        ]]

In [ ]:
print(stats.stats.pearsonr(df.Latest_mon_usage, df.Post_usage_1month))

(0.6174492644854919, 2.0866647416871924e-22)

Since pval is less than 0.05 we reject the NULL hypothesis. Hence, there is a relationship. Moreover, Correlation talks about the linear relationship between the variables. That means if one is changing the other is also changing.

Conclusion:

Through this experiment I performed statistical analysis on credit card usage dataset and also found out descriptive analysis like mean,variance,mode,standard deviation and so on.Hpothesis testing was performed on this dataset using One Sample t-test,Paired sample t-test,Independent sample t-test,ANOVA,chisquare test,Correlation test and based on p values those hypothesis we concluded whether or they are accepted or rejected